

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #686868;
  margin-bottom: 3px;


  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.swiper-slide.swiper-slide-active, .swiper-slide.swiper-slide-prev, .swiper-slide.swiper-slide-next {
    margin-right: 10px !important;
    width: 170px !important;
}
.swiper-pagination-bullet.swiper-pagination-bullet-active {
    background:#00C46D;

}

.swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: flex;
}
.container {
    background: #686868;
    width: 85%;
}
.desconto {
    display: flex;
    justify-content: flex-end;

}
.balao {
    border-radius: 10px 10px 10px 0px;
    border: none;
    background: #00C46D;
    margin: 0.5rem 0.5rem 0 0.5rem;
}
.desconto_valor {
    color: #000000;
    font-family: 'Open Sans', sans-serif;
    margin: 3px;
    font-weight: bold;
    font-size: 0.7rem;
}
.logo{
    display: flex;
    align-items: center;
}
.logo_text {
    font-family: 'Open Sans', sans-serif;
    font-size: 0.6em;
    color: white;
    text-align: left;
    margin-left: 1rem;
}
.logo_img_1 {
    display: inline-flex;
}
.logo_img {
    display: flex;
    margin: 0.5rem;
    max-width: 60px;
    max-height: 60px;
    width: auto;
    height: auto;
}
.title{
    font-family: 'Open Sans', sans-serif;
    color: white;
    font-size: 0.8em;
    font-weight: 600;
    opacity: 0.9;
    text-align: left;
    margin: 0 1rem 1rem 1rem;
}
.carrossel_1, .carrossel_2, .carrossel_3, .carrossel_4, .carrossel_5, .carrossel_6{
    width: 80%;
}

.carrossel_1 h2, .carrossel_2 h2, .carrossel_3 h2, .carrossel_4 h2, .carrossel_5 h2, .carrossel_6 h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 0.7em;
    color: white;
    text-align: left;
    width: 80%;
    font-weight: 700;
}
.carrossel_1 p, .carrossel_2 p, .carrossel_3 p, .carrossel_4 p, .carrossel_5 p, .carrossel_6 p {
    font-family: 'Open Sans', sans-serif;
    color: white;
    font-size: 0.7rem;
    text-align: left;
}
.product {
    border-radius: 10px;
    max-width: 110px;
    max-height: 110px;
    width: auto;
    height: auto;
}
.button {
    background: #FFFFFF;
    border-radius: 5px;
    border: none;
    padding: 5px 10px;
    display: block;
}
.link {
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    font-weight: 600;
    color: #00C46D;
    padding: 5px 15px;
    font-size: 0.7rem;
}